NEXT_PUBLIC_SUPABASE_URL=https://rmuiuabzzbpcdrcasdxp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_RxXJqvrW0T-8N9M-2Os2g_DN6G-73T
DATABASE_URL=postgresql://postgres:Mahmoued1990@db.rmuiuabzzbpcdrcasdxp.supabase.co:5432/postgres